.b-whatsapp {
    background-color: #25D366;
    padding: 10px;
    border-radius: 50%;
    position: fixed;
    right: 15px;
    z-index: 2;
    bottom: 25px;
    cursor: pointer;
}

.continer-whatsapp {
    display: none;
}

.whatsapp-button:hover .continer-whatsapp {
    display: block !important;
}