.social__container {
    //width: 100%;
    //height: 100%;

    input[type="checkbox"] {
        display: none;
    }

    .view {
        background: var(--background-tertiary);
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 200;
        top: 0;
        //display: none;
        opacity: 0.4;
    }

    .social__buttom {
        background-color: var(--color-primary);
        width: 50px;
        height: 50px;
        position: fixed;
        z-index: 500;
        bottom: 20px;
        right: 10px;
        border-radius: 50%;
        cursor: pointer;
        //display: flex;

        .social__buttom-icon {
            width: 70%;
            position: absolute;
            right: 10%;
            top: 3px;
        }
    }

    .social__itens {
        position: fixed;
        right: -30px;
        bottom: -60px;
        z-index: 1;
        background-color: var(--background-tertiary);
        border-radius: 180px;
        transform:rotate(40deg);
        width: 220px;
        height: 220px;
        z-index: 200;
        flex-direction: column;
        align-items: flex-start;
        padding: 40px;
        justify-content: center;
        gap: 20px;
        display: flex;

        .social__btn-instagram {
            cursor: pointer;
            z-index: 200;
            transform: rotate(-40deg);
        }

        .social__btn-whatsapp {
            //background-color: #25D366;
            padding: 10px;
            border-radius: 50%;
            z-index: 2;
            cursor: pointer;
            transform: rotate(-30deg);
            //opacity: 0.7;
        }
    }
}

