.social__container {
    width: 100%;
    height: 100%;

    .social__buttom {
        background-color: var(--color-primary);
        width: 60px;
        height: 50px;
        position: fixed;
        z-index: 500;
        bottom: 20px;
        right: 0;
        border-radius: 50px 0px 0px 50px;
        cursor: pointer;
        .social__buttom-icon {
            width: 70%;
            position: absolute;
            right: 10%;
            top: 3px;
        }
    }

    .social__itens {
        position: fixed;
        left: 20%;
        bottom: 20%;
        z-index: 1;
        background-color: var(--background-tertiary);
        border-radius: 20px;
        width: 70%;
        height: 40%;
        z-index: 500;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        display: none;

        .social__btn-instagram {
            cursor: pointer;
            opacity: 0.7;
            z-index: 200;
        }

        .social__btn-whatsapp {
            background-color: #25D366;
            padding: 10px;
            border-radius: 50%;
            z-index: 2;
            cursor: pointer;
            opacity: 0.7;
        }
    }
}

.social__container:hover .social__itens {
    display: flex;
}